@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Kalam&family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --oj: #795330;
    --lt-oj: #FFB068;
    --lt-red: #FF9797;
    --red: #865252;
    --lt-blu: #70C3FF;
    --blu: #3A5F79;
    --lt-grn: #86FF9A;
    --grn: #366B3F;
    --lt-prpl: #C992FF;
    --prpl: #674C81;
    --lt-gry: #494848;
    --gry: #272626;
    --o-gry: #2726268a;
    --drk-gry: #131212;
    --creamy: #fff9f2;
  }

body{
    width: 100%;
    background-color: var(--drk-gry);
}

h2{
    font-size: clamp(1.5rem, 0.5rem + 2vw, 2rem);
}

p{
    font-size: clamp(1rem, 0.75rem + 1vw, 1.25rem);
}

h1{
    color: var(--creamy);
}

h2, p{
    font-family: Cantarell;
    color: var(--creamy);
}

h3{
    color: var(--creamy);
    font-family: 'Kalam', cursive;
    letter-spacing: 1.5px;
}

/************************header*****************************/

header{
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--gry);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 8rem;
}

header h1{
    font-family: Montserrat;
    padding: 2rem 0 2rem 3rem;
    font-size: clamp(2rem, .75rem + 3vw, 4rem);
}

/***************************nav*******************************/

nav{
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem 0 0;
}

a{
    text-decoration: none;
    font-family: Cantarell;
    transition: color .5s;
}

nav li{
    list-style-type: none;
    margin: 3rem 2rem;
    width: 100%;
}

@media screen and (max-width: 1260px){
    header h1{
        padding: 2rem 0 2rem 2.5rem;
    }
    nav li{
        margin: 3rem 1.5rem;
    }
}

@media screen and (max-width: 1070px){
    header h1{
        padding: 2rem 0 2rem 2.75rem;
    }
    nav li{
        margin: 3rem .75rem;
    }
}

@media screen and (max-width: 860px){
    header h1{
        padding: 2rem 0 2rem 1.25rem;
    }
    nav{
        padding-right: 1rem;
    }
    nav li{
        margin: 3rem .25rem;
    }
}

@media screen and (max-width: 690px){
    header{
        flex-direction: column;
        height: 16rem;
    }

    header h1{
        padding: 2rem 1rem 0 1rem;
    }
    nav{
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        align-items: center;
    }
    nav li{
        margin: .25rem 1rem;
    }
}

/********************nav buttons*******************/
/****about button*****/
.about a{
    color: var(--lt-oj);
}

nav:hover .about a{
    color:var(--oj);
}

nav .about a:hover{
    color: var(--lt-oj);
}
/**projects button***/
.projects a{
    color: var(--lt-red);
}

nav:hover .projects a{
    color:var(--red);
}

nav .projects a:hover{
    color: var(--lt-red);
}
/***papers***/
.papers a{
    color: var(--lt-blu);
}

nav:hover .papers a{
    color:var(--blu);
}

nav .papers a:hover{
    color: var(--lt-blu);
}
/***musing button***/
.musings a{
    color: var(--lt-grn);
}

nav:hover .musings a{
    color:var(--grn);
}

nav .musings a:hover{
    color: var(--lt-grn);
}
/***contact***/
.contact a{
    color: var(--lt-prpl);
}

nav:hover .contact a{
    color:var(--prpl);
}

nav .contact a:hover{
    color: var(--lt-prpl);
}
/******active********/
.nav-active{
    border-bottom: 4px solid var(--creamy);
}

/************************footer***************************/

footer{
    background-color: var(--gry);
}

footer p{
    font-family: Kalam;
    color: var(--lt-prpl);
    text-align: center;
    margin: 1rem 2rem 0 2rem;
    padding: 3rem 0;
    border-top: 4px solid var(--lt-prpl);
    font-size: clamp(0.75rem, 0.6rem + 0.5vw, .9rem);
}

@media screen and (max-width: 650px){
    footer p{
        padding: 1.5rem 0;
        margin: 0 2rem;
    }
}

/**************************form***************************/

.full-form{
    padding: 3.5rem 2rem 0 2rem;
}

.contact-me{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 200px));
    grid-template-rows: 50px 100px 60px;
    margin: .5rem 2rem 2rem 2rem;
}

.top-left input{
    margin-right: .25rem;
}

.top-right input{
    margin-left: .25rem;
}

.contact-child{
    display: flex;
    flex-direction: column;
}

.top-left{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.top-right{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.mid{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.last{
    grid-row: 3 / 4;
    grid-column: 1 /2;
}

.contact-me label{
    font-family: Cantarell;
    color: var(--lt-prpl);
}

input, textarea, button{
    border: 4px solid var(--lt-prpl);
}

textarea{
    resize: none;
    font-family: Cantarell;
    color: var(--prpl);
}

.contact-me button{
    padding: .25rem;
    margin: 1rem 1rem 0 0;
    background-color: var(--lt-prpl);
    color: var(--creamy);
    font-weight: bolder;
    font-size: large;
    transition-duration: .3s;
}

.contact-me button:hover{
    background-color: var(--gry);
    box-shadow: 3px 3px var(--lt-oj),
                6px 6px var(--lt-red),
                9px 9px var(--lt-blu),
                12px 12px var(--lt-grn),
                15px 15px var(--lt-prpl);
}

.contact-me button:active{
    transform: translateY(6px);
    box-shadow: 3px 3px var(--oj),
                6px 6px var(--red),
                9px 9px var(--blu),
                12px 12px var(--grn),
                15px 15px var(--prpl);
}

.full-form h3{
    margin: 0 2rem;
    font-family: 'Kalam', cursive;
    color: var(--creamy);
    letter-spacing: 3px;
    font-size: clamp(1.5rem, 0.625rem + 2vw, 1.75rem);
}

.full-form{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 650px){
    .full-form{
        padding-top: 2rem;
    }
    .contact-me{
        margin-top: 0;
    }
}

/***************************main/about************************/

.hero-image{
    background: url(images/hero-1wide.jpg), rgba(39, 38, 38, 0.75);
    background-blend-mode: overlay;
    height: calc(100vh - 8rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fit;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.hero-image h1{
    font-size: clamp(1.5rem, 1rem + 2.5vw, 4rem);
    font-family: Montserrat;
    color: var(--creamy);
    text-align: center;
    padding: 1.25rem;
    border: 8px solid var(--creamy);
    margin: 0 1rem;
    text-shadow:1px 1px var(--gry);
    transition: .5s;
}

.hero-image span{
    font-family: 'Kalam', cursive;
    transition: .3s;
}

.hero-image h1:hover span{
    text-shadow:2px 2px var(--gry),
                4px 4px var(--lt-oj),
                6px 6px var(--lt-red),
                8px 8px var(--lt-blu),
                10px 10px var(--lt-grn),
                12px 12px var(--lt-prpl);
}

.about-me{
    padding: 2rem;
    max-width: 59rem;
    margin: auto;
}

.sub-me{
    padding: 2rem 0;
}

.sub-me span{
    font-family: 'Kalam', cursive;
    letter-spacing: 2px;
    color: var(--creamy);
    /*animation: about-title-gradient 3s ease 1s 1;*/
}




/*
@keyframes about-title-gradient{
    0% {color: #fff9f2;}
    33% {color: #FFB068;}
    100% {color: #fff9f2;}
}*/

@media screen and (max-width: 690px){
    .hero-image{
        height: calc(100vh - 16rem);
    }
}
/************************projects page**************************/

.project-main{
    padding-top: 2rem;
}
.projects-grid, .demos-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
    gap: 1.75rem;
    margin: auto;
    justify-content: center;
    padding: 0 2rem 2rem 2rem;
    min-width: 380px;
}

.project-child a, .demo-child a{
    display: grid;/*there is overflow, this centers the image*/
    background-color: var(--gry);
    aspect-ratio: 1 / 1;
    text-align: center;
}

.project-child img, .demo-child img{
    grid-area: 1 / 1 / 4 / 2;/*there is overflow, this centers the image*/
}

.project-child h3, .demo-child h3{
    grid-area: 2 / 1 / 3 / 2;
    opacity: 1;
    transition-duration: .3s;
}

.project-title h2, .demo-title h2 {
    text-align: center;
    padding: 2rem 0;
}

.projects-grid img, .demos-grid img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition-duration: .4s;
}

.project-child, .demo-child{
    transition-duration: .3s;
}

.project-child:hover, .demo-child:hover{
    border: 8px solid var(--creamy);
    box-shadow: 3px 3px var(--lt-oj),
                6px 6px var(--lt-red),
                9px 9px var(--lt-blu),
                12px 12px var(--lt-grn),
                15px 15px var(--lt-prpl);
}

.project-child:hover img, .demo-child:hover img{
    opacity: 25%;
}

.project-child:hover h3, .demo-child:hover h3{
    z-index: 1;
    opacity: 1;
}

.project-child:active, .demo-child:active{
    transform: translateY(6px);
    border: 8px solid var(--lt-red);
    box-shadow: 3px 3px var(--oj),
                6px 6px var(--red),
                9px 9px var(--blu),
                12px 12px var(--grn),
                15px 15px var(--prpl);
}

.project-child:active h3, .demo-child:active h3{
    color: var(--lt-red);
}

/**************************musings page***********************/

.musing-child span{
    font-family: 'Kalam', cursive;
    letter-spacing: 1px;
}

.musing-child h2{
    padding: 1rem 0 2rem 0;
}

.musing-entry{
    display: grid;
    grid-template-columns: minmax(380px, 800px);
    padding: 2rem;
    max-width: 59rem;
    margin: auto;
}

.m-1, .m-2, .m-4, .m-6{
    padding: 0 2rem;
}

.musing-child img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-width: 450px;
    border: 8px solid var(--creamy);
    box-shadow: 3px 3px var(--lt-oj),
                6px 6px var(--lt-red),
                9px 9px var(--lt-blu),
                12px 12px var(--lt-grn),
                15px 15px var(--lt-prpl);
    transition-duration: .5s;
}

.musing-child img:hover{
    border: 8px solid var(--lt-grn);
}

.m-3, .m-5{
    display: grid;
    grid-template-columns: minmax(200px, 350px);
    margin: 2rem;
    justify-content: center;
}

@media screen and (min-width: 850px){
    .musing-entry{
        grid-template-columns: minmax(440);
        align-items: center;
    }
    .m-1, .m-2, .m-4, .m-6{
        padding: 1rem;
    }
    .musing-child h2{
        padding: 0;
    }
    .m-1{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .m-2{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .m-3{
        grid-row: 1 / 4;
        grid-column: 2 / 3;
    }
    .m-4{
        grid-row: 3 / 5;
        grid-column: 1 / 2;
    }
    .m-5{
        grid-row: 4 / 7;
        grid-column: 2 / 3;
    }
    .m-6{
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
}

/***************************papers page******************/

.papers-title{
    text-align: center;
    padding: 2rem 0;
}

.papers-grid{
    display: grid;
    grid-template-columns: minmax(200px, 450px) minmax(300px, 400px);
    gap: 1rem;
    padding: 0 2rem 2rem 2rem;
    margin: auto;
    min-width: 380px;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.papers-grid h3{
    transition-duration: .3s;
}

/*
.papers-grid img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition-duration: .5s;
}*/

.paper-h3{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.paper-child{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    aspect-ratio: 1 / 1;
    transition: .3s;
}

.paper-child img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.papers-grid span{
    font-style: italic;
}


.pg1-child{/*gets rid of the tiny overflow of the grid for a 1 to 1 with img*/
    display: flex;
}
/*
.paper-image{
    z-index: -1;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    max-width: 400px;
}

.papers-grid:hover img{
    border: 8px solid var(--creamy);
    box-shadow: 3px 3px var(--lt-oj),
                6px 6px var(--lt-red),
                9px 9px var(--lt-blu),
                12px 12px var(--lt-grn),
                15px 15px var(--lt-prpl);
}

.papers-grid:active img{
    transform: translateY(6px);
    border: 8px solid var(--lt-blu);
    box-shadow: 3px 3px var(--oj),
                6px 6px var(--red),
                9px 9px var(--blu),
                12px 12px var(--grn),
                15px 15px var(--prpl);
}*/

.papers-grid:active h3{
    color: var(--lt-blu);
    transform: translateY(6px);
}

@media screen and (max-width: 690px) {
    .papers-grid{
        grid-template-columns: minmax(300px, 400px);
        grid-template-rows: 100px, minmax(300px, 400px);
    }
    .papers-grid h3{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        padding: 1rem;
    }
    .paper-child{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
}

.papers-grid:hover .paper-child{
    border: 8px solid var(--creamy);
    box-shadow: 3px 3px var(--lt-oj),
                6px 6px var(--lt-red),
                9px 9px var(--lt-blu),
                12px 12px var(--lt-grn),
                15px 15px var(--lt-prpl);
}

.papers-grid:active .paper-child{
    transform: translateY(6px);
    border: 8px solid var(--lt-blu);
    box-shadow: 3px 3px var(--oj),
                6px 6px var(--red),
                9px 9px var(--blu),
                12px 12px var(--grn),
                15px 15px var(--prpl);
}

/**********************peacock ppr*********************/

.peacock-grid{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.peacock-child{
    padding: rem;
    display: grid;
    grid-template-columns: minmax(400px, 850px);
    padding-bottom: 2rem;
    align-items: center;
}

/**first block**/
.peacock-title{
    justify-content: center;
}

.peacock-title h2{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: center;

}

.peacock-title img{
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: .4;

    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

/**2nd block**/
.peacock-2nd p{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 2rem;
}

.peacock-2nd img{
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: .4;

    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

/**3rd block**/
.peacock-3rd{
    grid-template-columns: repeat(3, minmax(133px, 283px));
}
.peacock-3rd img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.p3-img{
    position: relative;
}

.p3-img div{
    position: absolute;
    bottom: 40px;
    background-color: rgba(39, 38, 38, 0.75);
    width: 50%;
}

.p3-img p{
    font-size: smaller;
    margin: 1rem;
}

.peacock-3rd .p-3-1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: .5rem;
}

.peacock-3rd .p-3-2{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: .5rem;
}

.peacock-3rd .p-3-3{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    padding: .5rem;
}

.peacock-3rd p{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    text-align: center;
}

/**4th block**/
.p4-text{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.p4-img1{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.p4-img2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.peacock-4th{
    grid-template-columns: repeat(2, minmax(200px, 425px));
}

.peacock-4th img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: .5rem;
}

/**5th block**/
.p5-text{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.p5-img1{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.p5-img2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.peacock-5th{
    grid-template-columns: repeat(2, minmax(200px, 425px));
}

.peacock-5th img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: .5rem;
}

/**6th block**/
.peacock-6th p{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 2rem;
}

.peacock-6th img{
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: .4;

    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

/**7th block**/
.p7-text{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.p7-img1{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.p7-img2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.peacock-7th{
    grid-template-columns: repeat(2, minmax(200px, 425px));
}

.peacock-7th img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: .5rem;
}

/**8th block**/
.p8-text{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.p8-img1{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    position: relative;
}

.p8-img2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    position: relative;
}

.peacock-8th{
    grid-template-columns: repeat(2, minmax(200px, 425px));
}

.peacock-8th div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: .5rem;
}

.p8-img1 div, .p8-img2 div{
    position: absolute;
    bottom: 40px;
    background-color: rgba(39, 38, 38, 0.75);
    width: 50%;
}

.p8-img1 p, .p8-img2 p{
    font-size: smaller;
    margin: 1rem;
}