
body{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

h1{
    margin: auto;
    text-align: center;
    padding-top: 2rem;
}

.demo-container1, .demo-container2, .demo-container3{
    width:  25vh;
    height: 25vh;
    margin: 2rem auto;
    padding: 0rem;
    border: 4px solid black;
    cursor: pointer;
}

.ball {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #c00;

    transition: transform 1s;
}

.demo-container3{
    display: grid;
    margin: auto;
    align-content:space-evenly;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
}

.button{
    height: 70px;
    width: 70px;
    transition: color 2s ease;
}

.b1{
    background-color: rgb(128, 146, 50);
}

.b2{
    background-color: blueviolet;
}

.b3{
    background-color: rgb(30, 30, 136);
}

.b4{
    background-color: orchid;
}