@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}

/**********section*************/

body{
    margin: 0;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Allura', cursive;
    color: rgb(255, 243, 224);
    font-size: clamp(3.5rem, 7vw, 6rem);
    font-weight: bold;
    margin: 1rem;
    text-shadow: 3px 2px 4px rgba(73, 2, 2, 0.702);
    line-height: 1.8;
    letter-spacing: 2px;
}

h3{
    font-family: 'Allura', cursive;
    color:rgb(195, 185, 163);
    font-size: clamp(1.5rem, 3vw, 4rem);
    margin: 0;
    padding: 1rem;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: beige;
    font-size: clamp(.85rem, 1vw, 1.2rem);
}
/**************grid1*****************/

.grid1-container{
    display: grid;
    margin: 1rem;
    max-height: 800px;
    grid-template-columns: .25fr repeat(3, 1fr);
    grid-auto-flow: autofit;
    z-index: 2;
}

.g-1{
    grid-area: 1 / 2 / span 3 / span 3;
}

.g-2{
    grid-area: 1 / 1 / span 3 / span 1;
    border: 3px solid rgba(45, 1, 1, 0.726);
    background-color: rgb(22, 2, 2);
    margin: 1rem;
}



/*******************grid**************/

.margin-container{
    display: flex;
    justify-content: center;
}

.grid-container div{
    display: grid;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid rgb(59, 48, 48);
    background-color: rgba(15, 1, 1, 0.403);
    grid-template-columns: repeat(5, minmax(80px, 1fr));
    max-height: min-content;
    align-items: center;
    max-width: 800px;
}

img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    border: 4px solid rgb(59, 48, 48);
}

p{
    text-align: left;
    margin: 1.5rem 0;
    padding: 0 1rem 0 1rem;
}

ul{
    margin: 1rem;
    list-style: none;
    padding-inline-start: 0;
}

.img-txt p{
    color: rgb(18, 6, 6);
    font-size: clamp(1rem, 1.75vw, 2rem);
    background-color: rgba(150, 106, 106, 0.365);
    border-radius: 10px;
    box-shadow: 0 0 8px 4px rgba(150, 106, 106, 0.465);
    padding: 0 3rem 0 3rem;
}

/**text**/

.other-grids li:nth-child(2){
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.other-grids li:nth-child(4){
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

.other-grids li:nth-child(odd){
    aspect-ratio: 1 / 1;
    max-width: 280px;
    margin: .5rem 0 .5rem 0;
}

/****pic***/

.other-grids li:nth-child(1){
    grid-row: 1 / 2;
    grid-column: 3 / 5;
}

.other-grids li:nth-child(3){
    grid-row: 2 / 3;
    grid-column: 4 / 6;
}

.bottom-grid li{
    grid-row: 1 / 3;
    grid-column: 1 / 6;
}

/*****************flex and Media Query****************/

@media screen and (min-width: 900px){
    section{
        display: flex;
    }

    .grid1-container{
        position: relative;
        top: 10rem;
        left: 4rem;
    }

    .grid-container{
        position: relative;
        right: 5rem;
    }

    .g-1{
        grid-area: 1 / 1 / span 4 / span 4;
    }

    .g-2{
        grid-area: 4 / 1 / span 1 / span 3;
    }
    p{
        font-size: clamp(.8rem, 1vw, 1.2rem);
    }


}

