@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
}

form{
    background-color: #f5f5f5;
    font-family: 'Lato', sans-serif;
    padding: 1rem;
    width: 100%;
}

input{
    background-color: #c4c4c4;
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 2px;
    outline: none;
    padding:.5rem;
    width: 100%;
}

label{
    color:#626262;
    font-weight: 900;
}

input, label{
    display: block;
    
}

::placeholder{
    color: white;
}

textarea{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    background-color: #c4c4c4;
    border: none;
    height: 60px;
    margin-bottom: 2px;
    outline: none;
    padding: 8px;
    resize: none;
    width: 100%;
}

button{
    background-color: #626262;
    border: none;
    color: white;
    margin-top: 6px;
    padding: 8px 10px;
    transition-duration: 0.3s;
}

button:hover{
    background-color: rgb(53, 152, 245);
}